/* Sidebar */
ytd-guide-entry-renderer:has([title="Shorts"]) {
  display: none !important;
}

/* Feed */
ytd-grid-video-renderer:has([overlay-style="SHORTS"]),
ytd-reel-shelf-renderer,
ytd-rich-shelf-renderer,
ytd-video-renderer:has([aria-label="Shorts"]) {
  display: none !important;
}
